@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  overflow-x: hidden;
}

@layer utilities {
  .duration-high {
    @apply transition-all duration-300 ease-in-out;
  }
}


.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin {
  animation: spin 40s linear infinite;
}

.card img {
  transition: transform 0.3s ease; 
}

.card:hover img{
  transform: scale(1.1); 
  cursor: pointer;
}


.menu-item {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 1s ease, transform 1s ease;
}

.menu-item.show {
  opacity: 1;
  transform: translateX(0);
}

.category-link {
  font-size: 1rem;
  font-weight: bold; 
  color: #808080; 
  margin-right: 1rem; 
  cursor: pointer;
  position: relative;
  transition: color 0.3s, text-decoration 0.3s;
}

.category-link:hover {
  color: #FCE205; 
}

.category-link::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  width: 100%;
  background-color: #FCE205; 
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

/* Underline animation */
.category-link:hover::after {
  transform: scaleX(1);
}


.category-link.selected {
  color: #FCE205;
  text-decoration: none;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
